* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
}

.logo {
	display: none;
}

.img-info {
	width: 100%;
}

.img-info h2 {
	padding: 30px 30px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	color: #111;
	line-height: 44px;
}

.img-info p {
	padding: 0px 30px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #111;
	line-height: 24px;
}

.logo1 {
	width: 100%;
}

/* tablet ipad */

@media only screen and (min-width: 768px) {
	.logo {
		display: block;
		width: 100%;
		padding-bottom: 30px;
	}

	.wrapper {
		width: 600px;
		margin: 0 auto;
	}

	.img-info {
		width: 100%;
	}

	.img-info h2 {
		padding: 20px 0px 0px;
	}
	
	.img-info p {
		padding: 20px 0px 0px;
	}

	.logo1 {
		padding-top: 30px;
	}
}

/* Desktop 1920/1080p */

@media only screen and (min-width: 1000px) {
	.logo {
		height: 200px;
	}

	.wrapper {
		width: 1000px;
	}

	.img-info {
		width: 50%;
		float: right;
	}

	.img-info h2 {
		padding: 20px 0px 0px 30px;
	}
	
	.img-info p {
		padding: 20px 0px 0px 30px;
	}

	.logo1 {
		padding-top: 0;
		width: 50%;
		float: left;
	}
}
